@use "../variable.scss" as *;
@use "sass:color";

.recommendations-page {
    display: flex;
    flex-direction: column;
    gap: $spacing-6;

    .recommendations-header {
        text-align: center;
        padding: $spacing-6;
        background-color: $gray-100;
        border-radius: $border-radius-md;
        box-shadow: $shadow-md;

        h1 {
            font-size: $font-size-3xl;
            font-weight: $font-weight-bold;
            color: $text-dark;
        }

        p {
            font-size: $font-size-lg;
            color: $text-secondary;
        }
    }

    .recommendations-content {
        display: flex;
        gap: $spacing-6;

        .filter-sidebar {
            width: 25%;
            padding: $spacing-6;
            background-color: $white;
            border-radius: $border-radius-md;
            box-shadow: $shadow-md;

            .compare-button {
                margin-top: $spacing-4;
                width: 100%;
                padding: $spacing-3;
                background-color: $primary-color;
                color: $white;
                font-size: $font-size-base;
                border: none;
                border-radius: $border-radius-sm;
                cursor: pointer;
                transition: background-color $transition-normal;

                &:hover {
                    background-color: $primary-dark;
                }
            }
        }

        .recommendations-main {
            width: 75%;
            padding: $spacing-6;
            background-color: $white;
            border-radius: $border-radius-md;
            box-shadow: $shadow-md;
        }
    }

    .recommendations-loading,
    .recommendations-error {
        text-align: center;
        padding: $spacing-8;
        background-color: $gray-50;
        border-radius: $border-radius-md;
        box-shadow: $shadow-md;

        h2 {
            font-size: $font-size-2xl;
            font-weight: $font-weight-semibold;
            color: $text-dark;
        }

        p {
            font-size: $font-size-md;
            color: $text-secondary;
        }

        button {
            margin-top: $spacing-4;
            padding: $spacing-3 $spacing-4;
            background-color: $danger-color;
            color: $white;
            font-size: $font-size-base;
            border: none;
            border-radius: $border-radius-sm;
            cursor: pointer;
            transition: background-color $transition-normal;

            &:hover {
                background-color: color.scale($danger-color, $lightness: -10%);

            }
        }
    }
}